.manifest-scrubber {
    padding: 20px 0;
    overflow: visible;
}

.manifest-scrubber-timeline {
    display: flex;
    transition: transform 1s cubic-bezier(0, 1, 0, 1);
}

.manifest-scrubber-sol {
    position: relative;
    flex-shrink: 0;
    width: 12px;
    height: 100px;
    padding: 0;
    border: none;
    border-right: 2px solid $dark-grey;
    border-radius: 5px;
    background: rgb(255 255 255 / 0.1);
    cursor: pointer;
    transition: transform 1s, background-color 1s;

    &:hover {
        background: rgb(255 255 255 / 0.25);
        transform: scaleY(1.25);
        transition: transform 0.1s, background-color 0.1s;
    }

    div {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        min-height: 10px;
        border-radius: 5px;
        background-color: white;
    }

    span {
        display: none;
    }
}
